@use "../abstracts/variables";
@use "../abstracts/mixins";

.card_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.card {
		margin: 10px;
		border-radius: 10px;
		min-width: 140px;
		width: 140px;
		background-color: #fff;
		box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

		.name_container {
			padding: 0 10px;

			.card_name {
				font-weight: bolder;
				text-overflow: ellipsis;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;

				@include mixins.tablet() {
					font-size: 1.25rem;
				}
			}

			.card_character {
				padding-bottom: 5px;
				text-overflow: ellipsis;

				@include mixins.tablet() {
					font-size: 1.25rem;
				}
			}
		}
		p {
			color: black;
		}

		img {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			outline: none;
			border: 0;
			border-radius: 8px 8px 0 0;
		}

		@include mixins.tablet() {
			width: 200px;
		}
	}

	@include mixins.tablet() {
		margin-bottom: 4em;
	}
}

.people_selector {
	.content_selector {
		display: flex;
		justify-content: center;
		text-align: center;
		border-bottom: 2px solid variables.$color-accent;
		margin-bottom: 2em;

		li {
			display: inline;
			font-size: 1.5rem;
			margin: 10px;
			&:hover {
				cursor: pointer;
			}

			@include mixins.tablet() {
				font-size: 2rem;
			}
		}

		.active {
			color: variables.$color-logo;
			border-bottom: 2px solid #fff;
		}
	}
}
