@use "../abstracts/variables";
@use "../abstracts/mixins";

.form_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2.75rem;

	.form_text {
		color: variables.$color-logo-accent;
		font-family: variables.$font-body;
		font-size: 1.5rem;
	}

	form {
		width: 100%;
		padding: 0 3rem;

		select {
			width: 100%;
			border: none;
			border-radius: 5px 5px 0px 0px;
			padding: 0.6rem;
			font-family: variables.$font-body;
			font-size: 1.1rem;
			-webkit-appearance: none;
			background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
				no-repeat right white;
			background-position-x: 244px;
		}

		.form_input {
			width: 100%;
			margin-bottom: 1rem;
			border-radius: 0px 0px 5px 5px;
			border: none;
			padding: 0.6rem;
			font-family: variables.$font-body;
			font-size: 1.1rem;
		}

		.submit_button {
			border: 0;
			border-radius: 0.25rem;
			background: variables.$color-accent;
			color: white;
			font-family: variables.$font-body;
			font-size: 1.5rem;
			white-space: nowrap;
			text-decoration: none;
			padding: 0.25rem 0.5rem;
			margin: 0.25rem;
			cursor: pointer;
		}
	}
}
