@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
	background-color: variables.$color-accent;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 0;

	.image_left,
	.image_right {
		font-family: variables.$font-logo;
		color: variables.$color-logo;
		font-size: 2rem;
		font-weight: lighter;
	}

	.image_left {
		margin-right: 0.5em;
	}

	.image_right {
		margin-left: 0.5em;
	}

	.header_image {
		height: 30px;
		width: auto;
	}

	a {
		display: inline-block;

		p {
			display: inline-block;
		}

		img {
			display: inline-block;
		}
	}
}
