@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
	background-color: variables.$color-accent;
	display: flex;
	justify-content: center;

	.image_left {
		font-family: variables.$font-logo;
		color: variables.$color-logo;
		font-size: 2rem;
		font-weight: lighter;
		overflow: hidden;

		@include mixins.tablet() {
			font-size: 3.5rem;
		}
	}

	.header_image {
		height: 70px;
		margin-top: -15px;
		margin-bottom: -30px;
		width: auto;

		@include mixins.tablet() {
			height: 100px;
		}
	}

	a {
		display: inline-block;

		p {
			display: inline-block;
		}

		img {
			display: inline-block;
		}
	}
}
