@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Yeseva+One&display=swap");

// Colors
$color-main: #14181c;
$color-accent: #283845;
$color-logo: #fff;
$color-logo-accent: #5b9aca;
$color-logo-accent-variant: #fff;

// Fonts
$font-logo: "Yeseva One", cursive;
$font-body: "Nunito", sans-serif;
