@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Yeseva+One&display=swap");

// Colors
$color-main: #202c39;
$color-accent: #283845;
$color-logo: #f29559;
$color-logo-accent: #f2d492;
$color-logo-accent-variant: #b8b08d;

// Fonts
$font-logo: "Yeseva One", cursive;
$font-body: "Nunito", sans-serif;
