@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Yeseva+One&display=swap");

// Colors
$color-main: #202c39;
$color-accent: #283845;
$color-logo: #db7f8e;
$color-logo-accent: #d5c5c8;
$color-logo-accent-variant: #9da3a4;

// Fonts
$font-logo: "Yeseva One", cursive;
$font-body: "Nunito", sans-serif;
