@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/forms";
@use "../layout/footer";
@use "../layout/header";

.content_wrapper {
	min-height: 100vh;
}

.logo_container {
	min-height: 25vh;
	text-align: center;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.logo_image {
		width: 200px;
		height: 200px;
	}

	.logo {
		font-family: variables.$font-logo;
		color: variables.$color-logo;
		font-size: 4rem;
		font-weight: lighter;
		margin-top: -50px;
	}
}
