@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	li {
		color: white;
	}

	a {
		text-decoration: none;
	}

	.movie_details {
		.poster_container {
			display: flex;
			align-items: center;
			padding-top: 1rem;
			padding-bottom: 0.75rem;
			background-image: linear-gradient(
					to bottom,
					transparent,
					variables.$color-main
				),
				url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/wzJRB4MKi3yK138bJyuL9nx47y6.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			img {
				border-radius: 10px;
				width: 86px;
				height: auto;
				margin-right: 1rem;
				margin-left: 1rem;
				border: 1px solid #fff;
			}
		}

		.movie_title {
			font-size: 4rem;
			text-align: center;
			font-family: variables.$font-logo;
			text-shadow: 1px 1px 5px black;
		}

		.release_date,
		.directed_by {
			text-align: center;
			color: rgb(200, 200, 200);
			font-size: 1.5rem;
			text-shadow: 1px 1px 1px black;
		}

		.directed_by {
			margin-bottom: 2rem;
		}

		.information_collection {
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 1em;

			.information_details {
				padding-bottom: 1em;
			}
		}

		.details_collection {
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 2em;
		}
	}

	.people_container {
		.content_selector {
			display: flex;
			justify-content: center;
			text-align: center;
			border-bottom: 2px solid variables.$color-accent;
			margin-bottom: 2em;

			li {
				display: inline;
				font-size: 1.5rem;
				margin: 10px;
				&:hover {
					cursor: pointer;
				}
			}

			.active {
				color: variables.$color-logo;
				text-decoration: underline;
			}
		}
	}
}
