@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	li {
		color: white;
	}

	a {
		text-decoration: none;
	}

	.movie_details {
		.poster_container {
			display: flex;
			align-items: center;
			padding-top: 1rem;
			padding-bottom: 0.75rem;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 0;
			padding-top: 41.66%;

			img {
				border-radius: 10px;
				width: 86px;
				height: auto;
				margin-right: 1rem;
				margin-left: 1rem;
				margin-bottom: 9em;
				border: 1px solid #fff;
			}
		}

		.movie_title {
			font-size: 3rem;
			text-align: center;
			font-family: variables.$font-logo;
			text-shadow: 1px 1px 5px black;
			padding-left: 10px;
			padding-right: 10px;
		}

		.release_date,
		.directed_by {
			text-align: center;
			color: #ccc;
			font-size: 1.25rem;
			text-shadow: 1px 1px 1px black;
		}

		.directed_by {
			margin-bottom: 2rem;
		}

		.information_collection {
			padding-bottom: 1em;

			.information_details {
				padding-bottom: 1em;
				padding: 0 1em;

				.view_trailer_button {
					background-color: variables.$color-accent;
					border-radius: 8px;
					padding: 0.5em;
					margin-top: 0.5rem;
					margin-bottom: 0.75rem;
					font-weight: lighter;
					display: inline-block;
					box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
				}
			}

			.overview_container {
				background-color: variables.$color-accent;
				padding: 1em 1em;
				box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

				.tagline {
					font-style: italic;
				}
			}
		}

		.details_collection {
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 2em;
		}
	}

	.people_selector {
		.content_selector {
			display: flex;
			justify-content: center;
			text-align: center;
			border-bottom: 2px solid variables.$color-accent;
			margin-bottom: 2em;

			li {
				display: inline;
				font-size: 1.5rem;
				margin: 10px;
				&:hover {
					cursor: pointer;
				}
			}

			.active {
				color: variables.$color-logo;
				text-decoration: underline;
			}
		}
	}

	.people_container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.card {
			margin: 10px;
			border-radius: 10px;
			min-width: 140px;
			width: 140px;
			background-color: #fff;
			box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

			.name_container {
				padding: 0 10px;

				.card_name {
					font-weight: bolder;
					text-overflow: ellipsis;
				}

				.card_character {
					padding-bottom: 5px;
					text-overflow: ellipsis;
				}
			}
			p {
				color: black;
			}

			img {
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				outline: none;
				border: 0;
				border-radius: 8px 8px 0 0;
			}
		}
	}
}
