@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";
@use "../layout/cards";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	li {
		color: white;
	}

	a {
		text-decoration: none;
	}

	.movie_details {
		.backdrop {
			@include mixins.laptop() {
				max-width: 80%;
				margin: auto;
			}
		}

		.poster_container {
			padding-bottom: 0.75rem;
			background-size: cover;
			background-repeat: no-repeat;
			height: 0;
			padding-top: 40.66%;
			margin-left: -1px;
			margin-right: -1px;

			.mobile_header {
				top: 0;
				right: 0;
				position: absolute;
				margin-top: 1em;

				.home_button {
					width: 48px;
					padding: 0.5em;
					border-radius: 50%;
					background-color: variables.$color-main;
					border: none;
					margin-right: 1rem;

					@include mixins.tablet() {
						width: 64px;
						margin-right: 1.5rem;
					}
				}
			}

			@include mixins.laptop() {
				padding-top: 37.66%;
			}
		}

		.movie_title {
			font-size: 2.5rem;
			text-align: center;
			font-family: variables.$font-logo;
			text-shadow: 1px 1px 5px black;
			padding-left: 10px;
			padding-right: 10px;

			@include mixins.tablet() {
				font-size: 4rem;
			}
		}

		.release_date,
		.directed_by {
			text-align: center;
			color: #ccc;
			font-size: 1.25rem;
			text-shadow: 1px 1px 1px black;

			@include mixins.tablet() {
				font-size: 1.75rem;
			}
		}

		.directed_by {
			margin-bottom: 2rem;
		}

		.information_collection {
			padding-bottom: 1em;

			.information_details {
				padding-bottom: 1em;
				padding: 0 1em;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				.genres {
					max-width: 25%;
				}

				.view_trailer_button {
					background-color: variables.$color-accent;
					border-radius: 8px;
					padding: 0.5em;
					margin-top: 0.5rem;
					margin-bottom: 0.75rem;
					font-weight: lighter;
					display: inline-block;
					box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
				}

				.poster {
					border-radius: 10px;
					width: 100px;
					height: auto;
					margin-left: 1rem;
					margin-bottom: 2em;
					border: 1px solid #fff;

					@include mixins.tablet() {
						width: 200px;
					}

					@include mixins.laptop() {
						order: 3;
					}
				}

				.gold_star {
					vertical-align: middle;
					padding-bottom: 4px;
					width: 1.5rem;
				}

				@include mixins.tablet() {
					font-size: 1.5rem;
				}
			}

			.overview_container {
				background-color: variables.$color-accent;
				padding: 1em 1em;
				box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				margin: 0 1em;

				.tagline {
					font-style: italic;
				}

				@include mixins.tablet() {
					font-size: 1.25rem;
				}

				@include mixins.laptop() {
					max-width: 50%;
				}
			}
		}

		.details_collection {
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 2em;

			@include mixins.tablet() {
				font-size: 1.25rem;
			}
		}
	}

	@include mixins.tablet() {
		margin-bottom: 4rem;
	}
}
