@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";
@use "../layout/cards";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	li {
		color: white;
	}

	a {
		text-decoration: none;
	}

	.movie_details {
		.poster_container {
			display: flex;
			align-items: center;
			padding-top: 1rem;
			padding-bottom: 0.75rem;
			width: 100%;
			img {
				border-radius: 10px;
				width: 150px;
				height: auto;
				margin-right: 1rem;
				margin-left: 1rem;
				border: 1px solid #fff;
			}
		}
	}

	.person_overview {
		margin: 0 1.5em;
		margin-bottom: 1em;
		p {
			white-space: pre-line;
		}
	}
}
