@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";
@use "../layout/cards";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	li {
		color: white;
	}

	a {
		text-decoration: none;
	}

	.movie_details {
		.poster_container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 1rem;
			padding-bottom: 0.75rem;
			width: 100%;

			.name_container {
				@include mixins.tablet() {
					text-align: center;
					margin-left: 1rem;
					margin-right: 1rem;
				}
			}

			.top_container {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				padding-bottom: 1em;

				h1 {
					@include mixins.tablet() {
						margin-top: 1em;
					}
				}

				@include mixins.tablet() {
					flex-wrap: wrap;
				}

				@include mixins.desktop() {
					flex-direction: column;
				}
			}

			img {
				border-radius: 10px;
				width: 150px;
				height: auto;
				margin-right: 1rem;
				margin-left: 1rem;
				border: 1px solid #fff;

				@include mixins.tablet() {
					width: 250px;
				}
			}

			@include mixins.tablet() {
				flex-wrap: nowrap;
				justify-content: space-evenly;
			}
		}
	}

	.person_overview {
		background-color: variables.$color-accent;
		padding: 1em 1em;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		margin: 0 1em;
		margin-bottom: 1em;

		.overview_header {
			display: none;
			@include mixins.tablet() {
				display: block;
			}
		}

		p {
			white-space: pre-line;
		}

		@include mixins.tablet() {
			font-size: 1.2rem;
		}

		@include mixins.desktop() {
			max-width: 50%;
		}
	}
}
