@use "../abstracts/variables";
@use "../abstracts/mixins";

@use "../layout/footer";

.content_wrapper {
	min-height: 100vh;
	margin-bottom: 2.5rem;

	.logo_container {
		text-align: center;
		padding: 3rem 0;

		.logo {
			font-family: variables.$font-logo;
			color: variables.$color-logo;
			font-size: 4rem;
			font-weight: lighter;
		}
	}

	.no_results {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10%;
		text-align: center;
		h2 {
			color: white;
			font-size: 2em;
			margin-bottom: 1em;

			@include mixins.tablet() {
				font-size: 3em;
			}
		}

		a {
			font-size: 1.5em;
			&:hover {
				color: gray;
			}

			@include mixins.tablet() {
				font-size: 2em;
			}
		}
	}

	.select_container {
		display: flex;
		justify-content: center;
		border-bottom: 2px solid variables.$color-accent;
		margin-top: 2em;

		.sort_select {
			width: 75vw;
			border: none;
			border-radius: 5px;
			padding: 0.6rem;
			color: white;
			font-family: variables.$font-body;
			font-size: 1.1rem;
			-webkit-appearance: none;
			background: url("../../public/arrow16.png") no-repeat right #283845;
			background-position: 98% 50%;
			margin-bottom: 2rem;

			@include mixins.tablet() {
				background-position: 98% 50%;
				padding: 1rem;
				font-size: 1.6rem;
			}
		}
	}

	.search_results {
		section {
			display: flex;
			border-top: 2px solid variables.$color-accent;
			border-bottom: 2px solid variables.$color-accent;

			.movie_result_poster {
				display: flex;
				align-items: center;
				padding-top: 1rem;
				padding-bottom: 0.75rem;

				.movie_poster {
					border-radius: 10px;
					width: 110px;
					height: auto;
					margin-right: 1rem;
					margin-left: 1rem;
					border: 2px solid #fff;

					@include mixins.tablet() {
						width: 160px;
					}
				}
			}

			.movie_result_details {
				display: flex;
				align-items: center;
				padding-top: 1rem;

				.gold_star {
					vertical-align: middle;
					padding-bottom: 4px;
					width: 1em;
				}

				h2 {
					@include mixins.tablet() {
						font-size: 2em;
					}
				}

				p {
					@include mixins.tablet() {
						font-size: 1.5em;
					}
				}
			}
		}
	}

	a {
		text-decoration: none;
		color: #fff;
	}

	p {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		color: #fff;
	}

	h2 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}
