@use "abstracts/variables";
@use "abstracts/mixins";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: variables.$color-main;

	body {
		font-family: variables.$font-body;
	}
}

.movie-details {
	display: flex;
}

.person-details {
	p {
		white-space: pre-line;
	}
}

.movie-poster {
	border-radius: 8px;
}
.movie-poster-lg {
	width: 200px;
	height: auto;
	max-height: 300px;
	border-radius: 8px;
}

.content-selector li {
	display: inline;
	margin: 10px;
	&:hover {
		cursor: pointer;
	}
}
