@use "abstracts/variables";
@use "abstracts/mixins";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: variables.$color-main;

	body {
		font-family: variables.$font-body;
	}
}
